*{
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    height: fit-content;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: white;
}
.text-bold{
    font-weight: bold;
}
.post-container{
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: lightgray;
    margin-top: 10px;
}
table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
tr, td, th{
    border: 1px solid black;
    padding: 2px 2px;
}